extends layout

block content
  html
    body(ng-app="horses")
      table.table.table-striped
        thead
          th Name
          th Horse
          th Shots
        tbody(users)



block scripts
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js")
  script(type="text/javascript" src="/javascripts/directives.js")